---
layout: page
title: "Posts by Topic"
permalink: /tags.html
---

<h3>Topics</h3>
{% assign sorted_tags = site.tags | sort %}
<div id="tags-list">
  <ul class="post-list post-list-narrow">    
    {% for tag in sorted_tags %}
      {% assign tag_name = tag | first %}
      {% assign tag_name_pretty = tag_name | replace: "_", " " %}
      {% assign tag_slug = tag_name | slugize %}
      <a href="#{{ tag_slug }}">{{ tag_name | escape }}</a><br/>
    {% endfor %}
  </ul>
</div>


<div id="tags-list">
{% for tag in sorted_tags %}
  {% assign tag_name = tag | first %}
  {% assign tag_name_pretty = tag_name | replace: "_", " " %}
  {% assign tag_slug = tag_name | slugize %}
  <div class="tag-list">
    <div id="#{{ tag_slug }}"></div>
    <a name="{{ tag_slug }}"></a>
    <h3 class="post-list-heading line-bottom">{{ tag_name }}</h3>    
    <ul class="post-list post-list-narrow">
     {% for post in site.tags[tag_name] %}
     <li>
       {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
       <b>
         <a href="{{ post.url | relative_url }}">
           {{ post.title | escape }}
         </a>
       </b> - <i>{{ post.date | date: date_format }}</i>
       <p>{{ post.excerpt | xml_escape }}</p>
     </li>
     {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
