---
layout: post
---

<div class="post-tags">
  {%- if page.tags -%}
    <p>
      {% for tag in page.tags %}
        {% if forloop.first %}{% else %} | {% endif %}<a href="{{site.baseurl}}/tags.html#{{tag | slugize}}" class="tag">{{ tag }}</a>
      {% endfor %}
    </p>  
  {%- endif -%}
</div>

<div>
{{ content }}
</div>

<p><b>Other posts dealing with similar topics</b></p>
<div class="post-tags">
  {%- if page.tags -%}
    <p>
      {% for tag in page.tags %}
        {% if forloop.first %}{% else %} | {% endif %}<a href="{{site.baseurl}}/tags.html#{{tag | slugize}}" class="tag">{{ tag }}</a>
      {% endfor %}
    </p>  
  {%- endif -%}
</div>